
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new house creation from <%= @house.owner %>!</p>
    <p>
    House Details<br>
    --------------------------
    </p>
    <p>Owner: <%= @house.owner %></p>
    <p>Address: <%= @house.address %></p>
    <p>Rooms: <%= @house.rooms %></p>
    <p>spmt: <%= @house.sqmt %></p>
    <p>Floors: <%= @house.floors %></p>
    <p>Air Condition: <%= @house.air_cond %></p>
    <p>Price: <%= @house.price %></p>
  </body>
</html>